@model IEnumerable<Duyuru>
@{
    Layout = "_PanelLayout";
}
<div class="duyurular">
    <center><h4><b>DUYURULAR</b></h4></center>
    <br />
    <a asp-controller="Panel" class="btn btn-outline-success" style="float:right" asp-action="Edit">Duyuru Ekle</a>
    <br />
    <br />

    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Başlık</th>
                <th scope="col">Tarih</th>
                <th scope="col">#</th>
                <th scope="col">#</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var duyuru in Model)
            {
                <tr>
                    <th scope="row">@duyuru.Id</th>
                    <td>@duyuru.DuyuruBaslik</td>
                    <td>@duyuru.DuyuruTarih</td>
                    <td>
                        <a class="btn btn-outline-info" asp-controller="Panel" asp-action="Edit" asp-route-id="@duyuru.Id">Düzenle</a>
                    </td>
                    <td>
                        <a class="btn btn-outline-danger" asp-controller="Panel" asp-action="Remove" asp-route-id="@duyuru.Id">Kaldır</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>