@model IEnumerable<YuksekOkul>
@{
    Layout = "_PanelLayout";
}
<div class="yuksekokullar">
    <center><h4><b>YÜKSEK OKULLAR</b></h4></center>
    <br />
    <a asp-controller="Panel" class="btn btn-outline-success" style="float:right" asp-action="EditYuksekOkullar">Yüksekokul Ekle</a>
    <br />
    <br />
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Ad</th>
                <th scope="col">Tel</th>
                <th scope="col">Mail</th>
                <th scope="col">#</th>
                <th scope="col">#</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var yuksekOkul in Model)
            {
                <tr>
                    <th scope="row">@yuksekOkul.Id</th>
                    <th scope="row">@yuksekOkul.YuksekOkulAd</th>
                    <th scope="row">@yuksekOkul.YuksekOkulTel</th>
                    <th scope="row">@yuksekOkul.YuksekOkulMail</th>
                    <td>
                        <a class="btn btn-outline-info" asp-controller="Panel" asp-action="EditYuksekOkullar" asp-route-id="@yuksekOkul.Id">Düzenle</a>
                    </td>
                    <td>
                        <a class="btn btn-outline-danger" asp-controller="Panel" asp-action="RemoveYuksekOkul" asp-route-id="@yuksekOkul.Id">Kaldır</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>