@model DataViewModel
@{
    Layout = "_SideLayout";
    var image_path = $"/Image/{Model.YuksekOkul.YuksekOkulResim}";
}
<section id="first-section">
    <div class="container-fluid side-content">
        <div class="row">
            <div class="col-md-5">
                <img src="@image_path" />
            </div>
            <div class="col-md-7">
                <h4>@Model.YuksekOkul.YuksekOkulAd</h4>
                <hr />
                <p>@Model.YuksekOkul.YuksekOkulAciklama</p>

                <h5>İletişim Bilgileri</h5>
                <ul>
                    <li>@Model.YuksekOkul.YuksekOkulAdres</li>
                    <li>@Model.YuksekOkul.YuksekOkulMail</li>
                    <li>@Model.YuksekOkul.YuksekOkulTel</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="overlay"><img src="~/imgs/campus-bg.jpg"></div>
</section>